<div class="a"><h1>***TODO APP***</h1></div>
 <h1> {{title}}
</h1>
<div class="ta"><input type="text" #newTodo />
<div class="b"><button (click)="addTodo(newTodo.value);newTodo.value='' ">ADD</button></div>
<table style="width: 600px">
   <tr class="c">
        <th>Label</th>
        <th class="d">Priority</th>
        <th class="e">Done</th>
    </tr>
    <tr *ngFor="let todo of todos" id="lst" >
        <td><p>{{todo.label}}</p></td>
        <td><p>{{todo.priority}}</p></td>
        <td><p>{{todo.done}}</p></td>
        <td>
          <button (click)="deleteTodo(todo)">DELETE</button>
        </td>
      </tr>

   
</table>
</div>